<div class="media">
    <img class="mr-3 rounded align-self-center img-fluid" style="width:70px;"
        [src]="'//cdn.countryflags.com/thumbs/' + foodie.flag + '/flag-400.png'"
        alt="{{ 'representing country ' + foodie.country }}">
    <div class="media-body align-self-center">
        <h5 class="m-0">{{ foodie.contestant }}</h5>
        {{ foodie.drink }}
    </div><!-- media body -->
</div><!-- media -->