<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-sm-4 col-lg-3">
                <h2 class="mr-3">{{foodie.name}}</h2>
                <img class="mr-3 rounded align-self-center img-fluid" style="width:70px;"
                [src]="'//cdn.countryflags.com/thumbs/' + foodie.flag + '/flag-400.png'"
                alt="{{ 'representing country ' + foodie.country }}">
        </div>
        <div class="col-sm-8 col-lg-4">
            <h4 class="mt-0">{{foodie.country}}</h4>
            <p>Fave drink: {{foodie.drink}}</p>
            <p>Fave snack: {{foodie.snack}}</p>
            <p>Fave breakfast: {{foodie.breakfast}}</p>
            <p>Fave lunch: {{foodie.lunch}}</p>
            <p>Fave dinner: {{foodie.dinner}}</p>
        </div>
    </div>
</div>
<!--artistdetails-->