<div class="position-relative container">
  <div class="row justify-content-center">
    <div class="card mt-sm-3 col-md-8">
      <div class="card-body">
        <h3 class="mb-0"> Contestants </h3>
        <div class="form-group">
          <div class="form-label" *ngIf="name"><strong>For:</strong>
            {{ name }}
          </div>
          <input class="form-control mt-2" type="text" [(ngModel)]="name" placeholder="type in bob, howard, or jane">
        </div><!-- form-group -->
      </div><!-- card-body -->
    </div><!-- card -->
  </div><!-- row -->

  <div class="position-absolute container" style="left: 0; z-index:10">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5">
        <div class="list-group" *ngIf="name">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
            *ngFor="let foodie of (foodies | searchFoodies: name)" (click)="showFoodie(foodie); name=''"
            [style.backgroundColor]="foodie.highlight ? '#EEE' : '#FFF'">
            <app-foodie-items [foodie]="foodie"></app-foodie-items>
          </a><!-- link -->
        </div><!-- list-group -->
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->

  <app-foodie-details *ngIf="currentFoodie" [foodie]="currentFoodie"></app-foodie-details>
</div><!-- position -->